<div class="gameContainer">
  @if(canBet) {
  <input
    type="number"
    name="betValue"
    id="betValue"
    placeholder="Place bet..."
    [(ngModel)]="betValue"
    class="betInput"
  />
  <button (click)="handleStartGame()" class="gameBtn yellow">Place bet</button>}
  @else {
  <div class="cardContainer">
    @for (card of dealerHand; track $index) { @if(!card.isFaceUp) {
    <img
      [src]="'assets/facedown.jpg'"
      alt="face down card"
      class="playingCard"
    />
    } @else {
    <img
      class="playingCard"
      [src]="'assets/' + card.suite + '_' + card.value + '.png'"
      alt="card"
    />} }
  </div>

  <h4>Dealer: {{ dealerHandValue }}</h4>
  <hr />
  <h4>Player: {{ playerHandValue }}</h4>

  <div class="cardContainer">
    @for (card of playerHand; track $index) {
    <img
      class="playingCard"
      [src]="'assets/' + card.suite + '_' + card.value + '.png'"
      alt="card"
    />
    }
  </div>

  @if (isGameTied) {
  <h1>It's a tie!</h1>
  <button class="gameBtn yellow" (click)="playAgain()">Play again</button>
  } @else if(isGameOver) {
  <h1>{{ winner }} wins!</h1>
  <button class="gameBtn yellow" (click)="playAgain()">Play again</button>
  } @else{
  <div class="playerButtons">
    <button (click)="handleHit()" class="gameBtn">Hit</button>
    <button (click)="handleStand()" class="gameBtn">Stand</button>
  </div>
  }}

  <p>Balance: {{ playerCurrency }}$</p> 
  <p>Current bet: {{betValue}} </p>
</div>
