.gameContainer {
  background-color: rgb(14, 87, 14);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gameTitle{
  font-size: 45px;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.betInput {
  height: 30px;
  width: 140px;
  text-align: center;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContainer,
.gameTitle,
.currentHands,
.currencyContainer,
.playerButtons,
.inputContainer {
  animation: fadeIn 1s forwards;
}

.currentHands {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.playingCard:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.12);
}

hr {
  color: white;
  height: 1px;
  width: 100vw;
}

img {
  height: 20vh;
  margin-right: 10px;
}

.playerButtons {
  display: flex;
  justify-content: center;
}

.gameBtn {
  width: 100px;
  margin: 10px 10px;
  padding: 0.75rem 1rem;
  border: 0;
  border-radius: 0.317rem;
  background-color: #d40d0d;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

.gameBtn:hover {
  opacity: 0.85;
}

.yellow {
  background-color: rgb(197, 197, 9);
  color: rgb(255, 255, 255);
}

/*Animations*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
